<input type="hidden" id="id-fila" value="<%= @fila.id %>" >

<h1 class="centralizado"> <%= @fila.nome %> </h1>

<br><br><br>

<div class="centralizado" >

  <div class="senha-container" >
    <h3 class="senha-atual" contenteditable="true" > <%= @fila.posicao_atual %>   </h3>
  </div>

  <div class="up-down-container" >
    <div class="up clicavel">
    </div>

    <br>

    <div class="down clicavel">
    </div>

  </div>

</div>



