
<%= link_to "Criar fila", new_fila_path, class: "btn btn-info" %>

<h2>Filas</h2>

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Posição atual</th>
  </tr>
  </thead>

  <tbody>
  <% @filas.each do |fila| %>
      <tr class="clicavel fila" url="<%= fila_path fila %>">
        <td><%= link_to fila.nome, fila_path(fila) %></td>
        <td><%= fila.posicao_atual %></td>
      </tr>
  <% end %>
  </tbody>
</table>